<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <select id="findAll" resultType="com.example.demo.entity.User">
        SELECT *
        FROM users
    </select>

    <select id="findUserByTeacher" resultType="com.example.demo.entity.User">
        SELECT users.*
        FROM users
                 JOIN classes ON users.class_info = classes.class_name
        WHERE classes.head_teacher = '玲珑';
    </select>

    <select id="findUserByTeacher2" resultType="com.example.demo.entity.User">
        SELECT users.*
        FROM users
                 JOIN classes ON users.class_info = classes.class_name
        WHERE classes.head_teacher = #{head_teacher};
    </select>


</mapper>
